# Git LFS configuration
# This allows to store large files outside of the main git repository
# and only keep pointers to those files in the repository.
# This is useful for binary files, media files, and other large assets.
# More info: https://git-lfs.github.com/
release/** filter=lfs diff=lfs merge=lfs -text
offline-transfers/** filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
